/* Geral */

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

body {
    background: #F0F2F5;
}

/* Signup form */

h1 {
    align-self: center;
    font-weight: bold;
    margin: 20px 0px 30px 0px;
    color: #E0006C;
}

#signup-title {
    margin-top: 400px;
}

.title-question {
    font-size: 1.4rem;
}

.sign-up-form, .login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 100px;
}

.sign-up-form p {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
}

.sign-up-form ul {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
}

.sign-up-form p span {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    width: 500px;
}

.sign-up-form p label {
    float: left;
    text-align: left;
    width: 133px;
}

.sign-up-form input, textarea {
    float: right;
    width: 366px;
}

.sign-up-form #id_eh_palestrante {
    width: auto;
}

/**/

/* Detalhes do evento */
.event-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.event-info {
    display: flex;
    width: 50%;
    flex-flow: column;
}

.page-info {
    font-weight: bold;
    color: #E0006C;
    margin: 1rem 0 2rem 0;
    text-align: center;
}

.event-info h3 {
    color: #130f40;
}

.event-info > a {
    width: max-content;
}

.palestrantes-list {
    
}

.login-required {
    align-self: center;
    margin-top: 20px;
}

.event-actions {
    margin-top: 3rem;
}

.event-botoes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5rem 0;
}

.event-botoes a {
    width: 7rem;
}

/* Barra de navegacao */

#logo {
    color: #E0006C;
    font-family: 'Plaster', cursive;
    font-size: 1.5rem;
}

#navbar {
    background: white;
    box-shadow: 0 0 5px gray;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.btn-sign-up {
    background: #E0006C;
    border-color: #E0006C;
    margin: 0 .5rem;
}

.btn-sign-up:hover {
    background: #CD196F;
    border-color: #CD196F;
}

.btn-sign-in {
    color: #E0006C;
    border-color: #E0006C;
    margin: 0 .5rem;
}

.btn-sign-in:hover {
    color: #FFFFFF;
    background: #E0006C;
    border-color: #E0006C;
}

.logged-actions {
    display: flex;
    align-items: center;
    color: #E0006C;
}

.logged-actions .nav-link, .logged-actions i {
    color: #E0006C;
}

.logged-actions i {
    font-size: 1.1rem;
}

/* Conteudo geral */

article {
    height: 100vh;
    overflow: auto;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.page {
    padding-top: 5rem;
}

/* Inicio */

.home, .my-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.events {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.events-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px gray;
    padding: 0 1rem;
}

.events-header p {
    width: 100%;
    text-align: center;
    margin: .25rem;
}

.event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px gray;
    margin: .5rem 0;
    border-radius: 10px;
}

.event p, .event a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: .25rem;
    padding: 0 .25rem;
    text-align: center;
}

.event a {
    padding: .5rem .25rem;
}

.events-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    overflow: auto;
}

/* Sign up */

.sign-up-form p:nth-child(7), .sign-up-form p:nth-child(8), .sign-up-form p:nth-child(9) {
    display: none;
}

/* Meus eventos */

.my-events {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.my-events-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.my-event {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 3px solid #DEDEDE;
    border-radius: 10px;
}

.my-event-link {
    color: #E0006C;
    font-weight: bold;
}

.my-event-check {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0006C;
    color: #FFFFFF;
    border-radius: 50%;
}

.event-update-form-container {
    margin: 3rem auto;
    padding-top: 2rem;
    
    height: 100%;
    width: 65vw;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.event-update-form {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

.event-update-form p {
    display: flex;
    flex-direction: column;
}

.event-update-form p input, .event-update-form p textarea {
    resize: none;
    height: 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    scroll-behavior: smooth;
}

@media only screen and (min-width: 700px) {
    .my-event {
        width: 50%;
    }
}
