{% extends 'index.html' %}

{% block content %}
    <div class="event-container">
        <div class="event-info">
            <h2>Detalhes evento</h2>
            <h3>{{ event.nome }}</h3>
            <p>{{ event.descricao }}</p>
            <p>{{ event.dataHora }}</p>
            <div class="palestrantes-list"></div>
            <a class="btn btn-sm btn-primary btn-sign-up" href="{{ event.urlSite }}">Acessar site</a>
            {% if not user.is_authenticated %}
                <p class="login-required">Faça <a href="{% url 'login' %}">log in</a> para se inscrever<p>
            {% else %}
                <div class="event-botoes">
                <a class="btn btn-sm btn-outline-secondary btn-sign-in" href="{% url 'home' %}">Assistir</a>
                    {% if user.eh_palestrante %}
                        <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Palestrar</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
