{% extends 'index.html' %}

{% block content %}
<div class="home">

    {% if user.is_authenticated and user.eh_palestrante %}
    <a class="btn btn-sm btn-primary btn-sign-up new-event" href="{% url 'event_create' %}">Novo evento <i
            class="fas fa-plus"></i></a>
    {% endif %}

    <div class="events">
        <div class="events-header">
            <p>Nome</p>
            <p>Data</p>
            <p>Hora</p>
            <p>Site</p>
        </div>
        <div class="events-box">
            <div class="event">
                <p>Evento x Evento x Evento x Evento x Evento x Evento x Evento x Evento x </p>
                <p>dd/mm/aaaa</p>
                <p>00:00h</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Acessar</a>
            </div>
            <div class="event">
                <p>Evento x Evento x Evento x Evento x Evento x Evento x Evento x Evento x </p>
                <p>dd/mm/aaaa</p>
                <p>00:00h</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Acessar</a>
            </div>
            <div class="event">
                <p>Evento x Evento x Evento x Evento x Evento x Evento x Evento x Evento x </p>
                <p>dd/mm/aaaa</p>
                <p>00:00h</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Acessar</a>
            </div>
            <div class="event">
                <p>Evento x Evento x Evento x Evento x Evento x Evento x Evento x Evento x </p>
                <p>dd/mm/aaaa</p>
                <p>00:00h</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Acessar</a>
            </div>
            <div class="event">
                <p>Evento x Evento x Evento x Evento x Evento x Evento x Evento x Evento x </p>
                <p>dd/mm/aaaa</p>
                <p>00:00h</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Acessar</a>
            </div>
            <div class="event">
                <p>Evento x Evento x Evento x Evento x Evento x Evento x Evento x Evento x </p>
                <p>dd/mm/aaaa</p>
                <p>00:00h</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Acessar</a>
            </div>
            <div class="event">
                <p>Evento x Evento x Evento x Evento x Evento x Evento x Evento x Evento x </p>
                <p>dd/mm/aaaa</p>
                <p>00:00h</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'home' %}">Acessar</a>
            </div>
            {% for event in events %}
            <div class="event">
                <p>{{ event.nome }}</p>
                <p>{{ event.dataHora }}</p>
                <p>{{ event.dataHora }}</p>
                <a class="btn btn-sm btn-primary btn-sign-up" href="{% url 'event_detail' event.pk %}">Acessar</a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
