{% extends 'index.html' %}

{% block content %}

<div class="my-events page">
    <h2 class="page-info">Meus eventos</h2>
    <div class="my-events-box">
        {% for event in events %}
        <div class="my-event">
            <div class="my-event-info">
                <div class="my-event-info-box">
                    <strong>{{ event.nome }}</strong>
                    <p>{{ event.hora }} - {{ event.data }}</p>
                </div>
                <a class="my-event-link" href="{% url 'event_detail' event.pk %}">Acessar evento</a>
            </div>
            <div class="my-event-check"><i class="fas fa-check"></i></div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}